<ul id="brandlist">
<a href="/brands/all" title="Browse All" class="allbrands block">#</a>

{% for collection in collections %}
	{% unless collection.handle == 'frontpage' or collection.handle == 'new-arrivals' or collection.handle == 'sale' or collection.metafields.c_f.nav_brand_selector == 'hide'%}

		{% assign current = "" %}
		{% unless first_letter == current %}

		{% if collection.products_count > 0 %}
		{% assign first_letter = collection.title | strip_html | upcase | truncate: 1, '' %}
		    <li class="vendor-letter">{{ first_letter }}</li>

		{% endunless %}

		{% endif %}{% cycle '', '', new_row %}
	{% endunless %}
{% endfor %}
</ul>