<div class="module module--visible">
	<!-- below is the exit button -->
	<div class="button button--exit">
		<input type="checkbox" id="nav-toggle">
		<label for="nav-toggle">
		    <span>Exit</span>
		</label>
	</div>

	<span class="block">
		<h2 class="title">You know? Dealing with soft targets</h2>
		<p class="blurb">before my first cup of coffee because I don't have time for these clowns.</p>
		<!-- email capture snip thing -->
		<div class="form--contact">
			<label for="contact_form_email">Email <span class="red">*</span></label>
			<input type="text" id="contact_form_email" name="contact[email]" required pattern="[^ @]*@[^ @]*" value="{{ contact.fields.email }}"/>
			<input type='submit' class="submit action_button" value="Submit" />
		</div>
	</span>
</div>