#nav-input {
	display:none;
}
label[for=nav-input] {
	display:none;
}

label[for=nav-input] {
	@include breakpoint(1085px) {
		display:block;
	}
	position: fixed;
	left: 1em;
	top: 50%;
	width: 20px;
	height: 20px;
	background-color: none;
	border: 1px solid $bk-dark-color;
	padding:14px 10px 6px 10px;
	z-index: 9999999;
	transform: translateY(-50%);
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;	
	span {
		background-color: $bk-dark-color;
		opacity:1;
		position:absolute;
		width:20px;
		height:0;
		padding-top:2px;
		overflow:hidden;
		z-index: 9999999;
		left:50%;
		top:50%;
		transform: translate(-50%, -50%);
		transition: all .2s linear;
		-o-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-webkit-transition: all .2s linear;	
	}
	&:before {
		background-color: $bk-dark-color;
		content:"";
		position:absolute;
		width:20px;
		height:0;
		padding-top:2px;
		top:13px;
		left:50%;
		transform: translateX(-50%);
		z-index: 9999999;
		transform-origin:-50%;
	}
	&:after {
		background-color: $bk-dark-color;
		bottom:13px;
		left:50%;
		transform: translateX(-50%);
		content:"";
		position:absolute;
		width:20px;
		height:0;
		padding-top:2px;
		z-index: 9999999;
		transform-origin:-50%;
	}
}

#nav-input:checked ~ label[for=nav-input] {
	&:before{
		// transform: rotate(-45deg);
	}
	&:after {
		transform-origin:50%;
		transform: rotate(45deg) translateX(0%);
	}
	span {
		opacity:0;
	}
}