// this is where jazz is writing her scss for the module pop, she is importing it in style.scss

.module--visible {
	background-color:seagreen;
	position:absolute;
	top:50%;
	left:50%;
	width:500px;
	height:200px;
	padding:40px 20px 10px 20px;
	transform: translate(-50%, -50%);
	.button--exit {
		position:absolute;
		top:20px;
		left:20px;
		label[for="nav-toggle"] {
			position:fixed;
			width:40px;
			height:15px;
			z-index:9999;
			top: 20px;
			left: 15px;
			&:before, &:after {
				content:"";
			}
			span, &:after, &:before {
			overflow:hidden;
			height:0px;
			padding-top:2px;
			position:absolute;
			background-color:peachpuff;
			width:20px;
			transform-origin:50% 50%;
			}
			span {
				opacity:0;
			}
			&:after {
				top:100%;
				transform: rotate(45deg);
				// transform: translate(-50% -50%);
			}
			&:before {
				top:0;
				transform: rotate(-45deg); 
				// transform: translate(-50% -50%);
			}
		}	
	}
}
	.block {
		display:flex;
		flex-direction:column;
		.title {
			font-size:20px;
			text-align:center;
		}
		.blurb {
			font-size:14px;
			text-align:center;
		}
		.form--contact {
			width:100%;
			padding:30px 0px 0px 10px;
			#contact_form_email {
				width:75%;
			}
		}
	}
	

	#nav-toggle {
		display:none;
	}
	#nav-toggle:checked {
		display:none;
	}
	#nav-toggle:checked ~ .block {
		display:none;
	}

// label[for="nav-toggle"] {
// 	position:fixed;
// 	display:none;
// 	width:40px;
// 	height:24px;
// 	z-index:9999;
// 	top: 20px;
// 	left: 15px;
// 	&:before, &:after {
// 		content:"";
// 	}

// 	span, &:before, &:after {
// 		height:0px;
// 		left:0;
// 		padding-top:4px;
// 		width:40px;
// 		background-color:white;
// 		overflow:hidden;
// 		position:absolute;
// 		@include transform-origin( 50% 50% );
// 		@include transition(all 200ms ease-in-out);
// 	}
// 	span {
// 		top:50%;
// 		@include translateY(-50%);
// 	}

// 	&:before {
// 		top:0;
// 	}

// 	&:after {
// 		bottom:0;
// 	}
// }

// #nav-toggle:checked ~ label[for="nav-toggle"] {
// 	span {
// 		opacity:0;
// 	}
// 	&:before {
// 		top:50%;
		// @include transform( rotate(-45deg), translate(-50% -50%) );
// 	}

// 	&:after {
// 		top:50%;
		// @include transform( rotate(45deg), translate(-50% -50% ) );
// 	}
// }