$font-color:	#404040;
$font-hover-color: #969696;
$bk-color:		#ececec;
$bk-dark-color: #b1b1b1;
$border-color:	#d5d5d5;


$stick-width:	80%;
$max-width:		1050px;
$width-narrow:	850px;
$width-small: 	600px;