$font-color:	#404040;
$font-hover-color: #969696;
$bk-color:		#FFFFFF;
$bk-dark-color: #b1b1b1;
$border-color:	#d5d5d5;
$dark-nav: #333333 ;


$stick-width:	80%;
$full-width:	95%;
$max-width:		1050px;
$width-narrow:	850px;
$width-small: 	600px;

$sans-serif: 'Montserrat', sans-serif;
$monospace: 'Courier New', Courier, monospace;
